@{
    ViewBag.Title = "Главная";
}

<div class="bg-light carousel" data-ride="carousel">
    @*<ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>*@
    <!-- The slideshow -->
    <div class="main-block-image">
        <div class="image" >
            @*<img src="~/Models/Le.jpg" alt="Los Angeles">*@
        </div>
        <div class="text">
            <div class="title">
                Заголовок
            </div>
            <div>
                текст текст текст
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    @*<a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>*@
</div>
<div class="col-9 main-body-block mt-2 p-0 h-auto">
    <div class="ml-0 p-0 container-fluid">
        <div class="row">
            <div class="col-9 bg-light content-block float-left h-auto">
                <div class="h5">
                    Заголовок
                </div>
                <div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
                <div class="image-block">
                    <div class="bg-dark image-block-item">
                        sd
                    </div>
                    <div class="bg-dark image-block-item">
                        sd
                    </div>
                    <div class="bg-dark image-block-item">
                        sd
                    </div>
                </div>
                <div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
            <div class="col-3 float-right">
                <div class="row banner">
                    <div class="col-12 bg-light">
                        баннер
                    </div>
                </div>
                <div class="row mt-1 banner">
                    <div class="col-12 bg-light">
                        баннер
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
